.help__textarea{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    resize: none;
    border: none;
    background-color: var(--input-bg);
};

/* .help__mainDiv{
    width: 50%;
   
} */
.help__mainDiv h3{
    font-weight: bold;
}
.help__textarea::-webkit-input-placeholder {
    color: var(--black-color);
    padding-left: 1%;
    padding-top: 1%;
    }
    .help__btn{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }