.store__tab__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store__tab__wrapper .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: black !important;
  font-weight: 700;
  text-transform: none !important;
}
.store__tab__wrapper .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  text-transform: none !important;
  font-size: 18px;
}

.store__tab__wrapper .css-1aquho2-MuiTabs-indicator {
  height: 0px !important;
}

.store__tab__content {
  width: 100%;
}

.store__tabs__wrapper {
  width: 100%;
}
.store__tabs__wrapper {
  display: flex;
  flex-direction: row;
}
.store__tabs__wrapper:before,
.store__tabs__wrapper:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid var(--light-grey) !important;
  margin: auto;
}
.store__tabs__wrapper:before {
  margin-right: 10px;
}
.store__tabs__wrapper:after {
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  .store__tab__wrapper .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    text-transform: none !important;
    font-size: 14px;
    padding: 3px !important;
  }
}
