.post__card {

  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.post__card_Data{
  width: 80%;
}
.post__card_Profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.post__card_ProfileImg img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  object-fit: cover;
  cursor: pointer;
}
.post__card_ProfileName{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.post__card_Description {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.post__card_PostImg img {
  margin: 10px 0 10px 0;
  width: 100%;
  /* height: 250px; */
  border-radius: 50px;
  object-fit: cover;
}

.post__card_Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var( --light-grey);
}
.post__card_Buttons button{
 margin: 5px;
}

.post__card_Comments{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}
.post__card_CommentsSection{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}

/* Commentss */
.post__card_CommentsProfile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.post__card_CommentsProfileImg img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  object-fit: cover;
}
.post__card_CommentsProfileName{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-top: 10px; */
  justify-content: space-between;
  /* margin-left: 10px; */
}

.post__card_CommentsDescription {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.post__card_CommentsData{
  margin-left: 10px;
}

.post__card_PostComment{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var( --comment-grey-bg);
}
.post__card_WriteComment{
  width: 80%;
}


