.rooms__img img {
  border-radius: 10px;
}
.rooms__img {
  position: relative;
}

.rooms__img:hover .first_txt {
  display: flex;
  cursor: pointer;
}
.rooms__img:hover {
  filter: brightness(90%);
}
.rooms__row {
  margin: 0;
}
.rooms__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.rooms__btn {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.rooms__add__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradient-bg);
  width: 248px;
  height: 248px;
  border-radius: 10px;
  cursor: pointer;
}

.first_txt {
  position: absolute;
  top: 45%;
  left: 30%;
  /* display: flex; */
  display: none;
}
.icon__box {
  background: var(--gradient-bg);
  padding: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10%;
}
.room__name h5 {
  font-weight: bold;
  margin-top: 10%;
  font-family: var(--heading-font-family);
  color: var(--text-color);
  cursor: pointer;
}
.room__staff_no text {
  font-family: var(--font-family);
  color: var(--text-color);
}
.rooms__create__room h5 {
  font-weight: bold;
  color: var(--white-color);
  font-family: var(--heading-font-family);
  margin-top: 4%;
}
@media only screen and (max-width: 1200px) {
  .rooms__add__btn {
    width: 203px;
    height: 203px;
  }
  .first_txt {
    position: absolute;
    top: 40%;
    left: 25%;
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .rooms__add__btn {
    width: 143px;
    height: 143px;
  }
  .icon__box {
    padding: 10%;
    margin: 10%;
  }
  .first_txt {
    top: 40%;
    left: 25%;
  }
}
@media only screen and (max-width: 767px) {
  .rooms__add__btn {
    width: 269px;
    height: 269px;
  }
  .icon__box {
    padding: 20%;
  }
  .first_txt {
    position: absolute;
    top: 45%;
    left: 30%;
  }
}
@media only screen and (max-width: 300px) {
  .rooms__add__btn {
    width: 100%;
    height: 100%;
  }
}
