.auth {
  min-height: 100vh;
  width: 100%;
  background: var(--gradient-bg);
}

.auth__logo {
  text-align: center;
  min-height: 20vh;
}

.forgetPassword {
  min-height: 60vh;
}
.auth__modal {
  width: 40% !important;
  background-color: var(--white);
  border-radius: 8px;
}

.signup__otherOption p {
  margin: 0;
}
.signup__otherOption p:first-child {
  margin: 0;
  font-weight: bold;
}

.signup__otherOption > section {
  margin: 10px 0;
}
.signup__otherOption > section img {
  margin: 0 5px;
}

.signup__otherOption a {
  font-weight: bold;
}

.login__remember {
  margin: 0 20px;
  color: black;
}
.login__remember input {
  margin-right: 10px;
}
.login__forget {
  margin: 0 20px;
  color: black;
}

.footer__wrapper {
  min-height: 20vh;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

@media only screen and (max-width: 992px) {
  .auth__modal {
    width: 60% !important;
  }
}

@media only screen and (max-width: 768px) {
  .auth__modal {
    width: 90% !important;
  }
  .login__input input {
    width: 80% !important;
  }
}

@media only screen and (max-width: 576px) {
  .login__remember label {
    font-size: small !important;
  }
  .login__remember input {
    margin: 0 10px;
  }
  .login__remember {
    margin: 0 10px;
  }
}
